<%= render 'pages/home' %>


<div id="pins">
	<%= render @pins %>
</div>

<% if false %>
Note: the old way of showing pins using a table which was created by devise (JZ thinks)
<h1>Listing pins</h1>
<table class="table table-striped">

  <thead>
  <tr>
    <th>Image</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</thead>

<tbody>
<%= render @pins %>
</tbody>

</table>

<br />

<%= link_to 'New Pin', new_pin_path %>
<% end %>