
<div class="alert alert-success">
  <button type="button" <a href="#" class="close" data-dismiss="alert">&times;</a></button>
  <strong>Good Day!</strong> You have reached an <i>about</i> page.
</div>

<h1>About</h1>
<p>
	This is the sample application.
	<br>
	Please feel free to create an account and post some of your favourite images.
	<br>
	Thank you!
</p>
